<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exp.ucmp.mall.dao.PsiSalesCustomerDao" >

    <select id="selectByList" resultType="com.exp.ucmp.entity.PsiSalesCustomerEntity">
        SELECT
        customer_id AS customerId,
        store_id AS storeId,
        customer_name AS customerName,
        customer_phone AS customerPhone,
        model_code AS modelCode,
        model_name AS modelName,
        delivery_place AS deliveryPlace,
        vin AS vin,
        follow_time AS followTime,
        follow_by AS followBy,
        follow_name AS followName,
        customer_character AS customerCharacter,
        purchase_time AS purchaseTime,
        family AS family,
        created_by AS createdBy,
        created_date AS createdDate,
        updated_by AS updatedBy,
        updated_date AS updatedDate
        FROM
        t_psi_sales_customer
        <where>
            <if test="customerId != null and customerId != ''">
                AND customer_id = #{customerId, jdbcType=BIGINT}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND customer_phone = #{customerPhone, jdbcType=VARCHAR}
            </if>
            <if test="customerName != null and customerName != ''">
                AND customer_name = #{customerName, jdbcType=VARCHAR}
            </if>
            <if test="vin != null and vin != ''">
                AND vin = #{vin, jdbcType=VARCHAR}
            </if>
            <if test="customerPhoneList != null">
                AND customer_phone in (<foreach collection="customerPhoneList" item="customerPhone" separator=",">
                #{customerPhone}
            </foreach>)
            </if>
        </where>
    </select>
    <select id="queryList" resultType="com.exp.ucmp.clues.dto.SalesCustomerDto">
        SELECT
        customer_id AS customerId,
        customer_name AS customerName,
        customer_phone AS customerPhone,
        model_code AS modelCode,
        model_name AS modelName,
        delivery_place AS deliveryPlace,
        vin AS vin,
        follow_time AS followTime,
        follow_by AS followBy,
        follow_name AS followName,
        customer_character AS customerCharacter,
        purchase_time AS purchaseTime,
        family AS family,
        created_by AS createdBy,
        created_date AS createdDate,
        updated_by AS updatedBy,
        updated_date AS updatedDate
        FROM
        t_psi_sales_customer
        <where>
            <if test="multiField != null and multiField != ''">
                AND (customer_phone = #{multiField, jdbcType=VARCHAR}
                or customer_name = #{multiField, jdbcType=VARCHAR}
                or vin = #{multiField, jdbcType=VARCHAR}
                )
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND customer_phone = #{customerPhone, jdbcType=VARCHAR}
            </if>
            <if test="customerName != null and customerName != ''">
                AND customer_name = #{customerName, jdbcType=VARCHAR}
            </if>
            <if test="vin != null and vin != ''">
                AND vin = #{vin, jdbcType=VARCHAR}
            </if>
            <if test="customerPhoneList != null and customerPhoneList.size() > 0">
                AND customer_phone in (<foreach collection="customerPhoneList" item="customerPhone" separator=",">
                #{customerPhone}
            </foreach>)
            </if>
        </where>
    </select>
    <select id="queryCustomerList" resultType="com.exp.ucmp.clues.dto.SalesCustomerInfoDto">
        SELECT
        prc.model_code AS modelCode,
        prc.model_name AS modelName,
        prc.shape_code AS shapeCode,
        prc.shape_name AS shapeName,
        prc.follow_store AS followStore,
        prc.follow_person AS followPerson,
        (select staff_name from t_sys_store_staff_details where party_id = prc.follow_person) AS followName,
        prc.follow_time AS followTime,
        prc.last_follow_time AS lastFollowTime,
        customerId.follow_status  AS followStatus,
        prc.customer_character AS customerCharacter,
        prc.purchase_time AS purchaseTime,
        prc.family_situation AS family,
        prc.delivery_place AS deliveryPlace,
        psc.customer_id AS customerId,
        psc.customer_name AS customerName,
        psc.customer_phone AS encryptionCustomerPhone,
        pcsi.vin_code AS vin
        FROM
        (
            SELECT
            a.customer_id,
            SUBSTRING_INDEX(group_concat(a.clues_id order by a.retention_time desc),',',1) clues_id,
            MIN(a.follow_status) follow_status
            FROM
            t_psi_sales_customer b
            left join t_psi_retention_clues a ON a.customer_id = b.customer_id
            WHERE
            a.is_delete = '00'
            AND a.is_enable = '01'
            AND b.store_id = #{storeId}
            <if test="partyId != null and partyId != ''">
                <choose>
                    <when test="otherPartyId == '01'">
                        AND (b.party_id != #{partyId} OR b.party_id IS NULL)
                    </when>
                    <otherwise>
                        AND b.party_id = #{partyId}
                    </otherwise>
                </choose>
            </if>
            GROUP BY customer_id
        ) AS customerId
        LEFT JOIN t_psi_retention_clues AS prc ON prc.clues_id = customerId.clues_id AND prc.customer_id = customerId.customer_id
        LEFT JOIN t_psi_sales_customer AS psc ON psc.customer_id = prc.customer_id
        LEFT JOIN t_psi_car_stock_info AS pcsi ON pcsi.stock_id = prc.stock_id
        <where>

            <if test="multiField != null and multiField != ''">
                <!--vin查询最新的-->
                AND (psc.customer_phone = #{encryptionMultiField, jdbcType=VARCHAR}
                or psc.customer_name LIKE  CONCAT('%',#{multiField, jdbcType=VARCHAR},'%')
                or pcsi.vin_code LIKE CONCAT('%',#{multiField, jdbcType=VARCHAR},'%')
                )
            </if>
        </where>
        ORDER BY customerId.follow_status ASC,prc.retention_time DESC
    </select>
</mapper>