<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xzgone.assemblyline.mapper.AssemblyLineMapper">

    <resultMap id="BaseResultMap" type="xyz.xzgone.assemblyline.pojo.AssemblyLine">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="docId" column="doc_id" jdbcType="VARCHAR"/>
        <result property="docName" column="doc_name" jdbcType="VARCHAR"/>
        <result property="docLink" column="doc_link" jdbcType="VARCHAR"/>
        <result property="lineId" column="line_id" jdbcType="VARCHAR"/>
        <result property="lineName" column="line_name" jdbcType="VARCHAR"/>
        <result property="lineLink" column="line_link" jdbcType="VARCHAR"/>
        <result property="sheetId" column="sheet_id" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,project_name,
        doc_id,doc_name,doc_link,
        line_id,line_name,line_link,
        sheet_id,version,is_deleted
    </sql>

    <insert id="publish">
        INSERT INTO assembly_line
        (project_id, project_name, doc_id, doc_name, doc_link, line_id, line_name, line_link, sheet_id)
        VALUES (#{projectId}, #{projectName}, #{docId}, #{docName}, #{docLink}, #{lineId}, #{lineName}, #{lineLink},
        #{sheetId})
        ON DUPLICATE KEY UPDATE
        project_id = VALUES (project_id),
        project_name = VALUES (project_name),
        doc_name = VALUES (doc_name),
        doc_link = VALUES (doc_link),
        line_id = VALUES (line_id),
        line_name = VALUES (line_name),
        line_link = VALUES (line_link)
    </insert>

    <select id="findAll" resultType="xyz.xzgone.assemblyline.pojo.AssemblyLine">
        SELECT * FROM assembly_line
    </select>
    <select id="findProject" resultType="xyz.xzgone.assemblyline.pojo.AssemblyLine">
        SELECT * FROM assembly_line
        WHERE project_id = #{projectId}
    </select>
</mapper>
