<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xzgone.assemblyline.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="xyz.xzgone.assemblyline.pojo.Project">
        <id property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        pid, title, version,
        is_deleted
    </sql>

    <!--    <select id="">-->
    <!--        -->
    <!--    </select>-->
</mapper>
